<%= simple_form_for(@album) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :year %>
    <%= f.input :cover, as: 'file' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
