<h1>Listing musics</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Album</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @album.musics.each do |music| %>
  <tr>
    <td><%= music.name %></td>
    <td><%= music.album.name %></td>
    <td><%= link_to 'Show', album_music_path(@album,music) %></td>
    <td><%= link_to 'Edit', edit_album_music_path(@album,music) %></td>
    <td><%= link_to 'Destroy', album_music_path(@album,music), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Music', new_album_music_path(@album) %>
